* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: white;
}


div#textLateral {
    display: none;
}

div#formulario {
    width: 100vw;
    height: 100vh;
}

div#formulario > form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.group {
    position: relative;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.formInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;

}

div.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;

}

div.links {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;

}

div.logo {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}

div.rotas {
    width: 75%;
}

div.rotas > p {
    display: inline;
}

div.logo-h1 {
    width: 75%;
}


div.logo h1 {
    font-size: 30px;
    font-weight: normal;
    margin: 20px 0px;
}

h1::after {
    display: block;
    content: "";
    width: 5rem;
    height: 7px;
    background-color: #2EB070;
    border-radius: 3px;
}


.input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}

.input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    bottom: 40%;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus~label,
.input:valid~label {
    bottom: 60px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.668);
    transition: 300ms;
}
.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

input[type='submit'] {
    background-color: #2EB070;
    border: none;
    border-radius: 0;
    padding: 10px;
    color: white;
    font-weight: bold;
}
div.links a {
    color: #2EB070;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(227, 227, 227);
}



input[type='submit'],
div.links  a {
    font-size: 15px;
    width: 100px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.205);
    margin: 0px 7px;
    cursor: pointer;
}


input[type='submit']:hover {
    background-color: #2eb06fd2;
    transition: 250ms;
}

div.links a:hover {
    background-color: rgba(227, 227, 227, 0.742);
    transition: 250ms;
}

@media screen and (max-width: 290px) {
    div.rotas {
        display: flex;
        flex-direction: column;

    }

    div.rotas > p {
        display: inline;
        margin: 0px 7px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    div#cadastro {
        display: flex;
        flex-direction: row;
        height: 80%;
        width: 80%;
        align-items: center;
        justify-content: center;
        box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.323);
        position: relative;
        
    }
    h1 {
        font-size: 28px;
        font-weight: normal;
    }

    h2 {
        color: white;
        
    }

    body {
        display: flex;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        background-color: #e6e6e6c6;
        align-items: center;
    }


    div#textLateral {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;
        width: 50%;
        background-color: #2EB070;
    }


    div#formulario {
        width: 50%;
        height: 80vh;
        background-color: white;
    }

    div.inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 65%;
    
    }
    
    div.links {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        
    }

    div.rotas {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: rgba(0, 0, 0, 0.744);
    }
    
    div.logo {
        width: 100%;
        height: 15%;
    }

    div.logo-h1 {
        display: flex;
        align-items: center;

    }

    div.rotas > a {
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    div#cadastro {
        display: flex;
        flex-direction: row;
        height: 80%;
        width: 80%;
        align-items: center;
        justify-content: center;
        box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.323);
        position: relative;
        
    }
    h1 {
        font-size: 28px;
        font-weight: normal;
    }

    h2 {
        color: white;
        
    }

    body {
        display: flex;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        background-color: #e6e6e6c6;
        align-items: center;
    }


    div#textLateral {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;
        width: 40%;
        background-color: #2EB070;
    }
    div#formulario {
        width: 60%;
        height: 80vh;
        background-color: white;
    }

    div.inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 65%;
    
    }
    
    div.links {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        
    }

    div.rotas {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: rgba(0, 0, 0, 0.744);
    }
    
    div.logo {
        width: 100%;
        height: 15%;
    }

    div.logo-h1 {
        display: flex;
        align-items: center;

    }

    div.rotas > a {
        text-align: center;
    }
}



